In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data as web

In [14]:
#read data
amzn = pd.read_csv('./data/amzn.us.csv')

In [34]:
amzn['EMA_12'] = amzn['Close'].ewm(span=12,min_periods=0,adjust=True,ignore_na=False).mean()
amzn['EMA_26'] = amzn['Close'].ewm(span=26,min_periods=0,adjust=True,ignore_na=False).mean()
amzn['MACD'] = amzn['EMA_26'] - amzn['EMA_12']

,Date,Open,High,Low,Close,Volume,OpenInt,EMA_12,EMA_26,MACD
0,1997-05-16,1.97,1.980,1.710,1.73,14700000,0,1.730000,1.730000,0.000000
1,1997-05-19,1.76,1.770,1.620,1.71,6106800,0,1.719167,1.719615,0.000449
2,1997-05-20,1.73,1.750,1.640,1.64,5467200,0,1.688268,1.691010,0.002742
3,1997-05-21,1.64,1.650,1.380,1.43,18853200,0,1.606743,1.618043,0.011300
4,1997-05-22,1.44,1.450,1.310,1.40,11776800,0,1.550572,1.567478,0.016907
5,1997-05-23,1.41,1.520,1.330,1.50,15937200,0,1.538280,1.553963,0.015683
6,1997-05-27,1.51,1.650,1.460,1.58,8697600,0,1.547590,1.558593,0.011004
7,1997-05-28,1.62,1.640,1.530,1.53,4574400,0,1.543919,1.553986,0.010067
8,1997-05-29,1.54,1.540,1.480,1.51,3472800,0,1.537209,1.547467,0.010258
9,1997-05-30,1.50,1.510,1.480,1.50,2594400,0,1.530158,1.540917,0.010759
10,1997-06-02,1.51,1.530,1.500,1.51,591600,0,1.526469,1.536907,0.010438
11,1997-06-03,1.53,1.530,1.480,1.48,1183200,0,1.518207,1.529915,0.011708
12,1997-06-04,1.48,1.490,1.400,1.42,3080400,0,1.501155,1.517038,0.015884
13,1997-06-05,1.42,1.540,1.380,1.54,5672400,0,1.507769,1.519617,0.011848
14,1997-06-06,1.52,1.710,1.510,1.66,7807200,0,1.533270,1.534803,0.001533
15,1997-06-09,1.66,1.710,1.660,1.69,2352000,0,1.559171,1.551038,-0.008133
16,1997-06-10,1.71,1.710,1.530,1.58,5458800,0,1.562574,1.553978,-0.008596
17,1997-06-11,1.59,1.600,1.530,1.54,1188000,0,1.558921,1.552597,-0.006324
18,1997-06-12,1.58,1.650,1.550,1.60,1632000,0,1.565517,1.557167,-0.008349
19,1997-06-13,1.62,1.620,1.580,1.58,693600,0,1.567827,1.559321,-0.008506
20,1997-06-16,1.60,1.600,1.560,1.57,913200,0,1.568171,1.560308,-0.007863
21,1997-06-17,1.60,1.600,1.490,1.51,4706400,0,1.558989,1.555741,-0.003248
22,1997-06-18,1.52,1.540,1.500,1.51,2464800,0,1.551287,1.551658,0.000370
23,1997-06-19,1.51,1.530,1.500,1.51,1003200,0,1.544818,1.547994,0.003176
24,1997-06-20,1.53,1.550,1.500,1.53,3387600,0,1.542503,1.546433,0.003931
25,1997-06-23,1.54,1.540,1.480,1.50,1047600,0,1.535878,1.542456,0.006578
26,1997-06-24,1.51,1.530,1.480,1.51,751200,0,1.531852,1.539708,0.007856
27,1997-06-25,1.53,1.530,1.490,1.51,2106000,0,1.528459,1.537219,0.008760
28,1997-06-26,1.52,1.520,1.510,1.51,3189600,0,1.525596,1.534960,0.009364
29,1997-06-27,1.52,1.520,1.480,1.49,1188000,0,1.520083,1.531262,0.011179
...,...,...,...,...,...,...,...,...,...,...
5123,2017-10-02,964.00,967.305,952.120,959.19,2425704,0,960.138944,966.031768,5.892824
5124,2017-10-03,958.00,963.690,950.370,957.10,2665119,0,959.671414,965.370156,5.698741
5125,2017-10-04,954.21,967.790,954.050,965.45,2518564,0,960.560427,965.376070,4.815643
5126,2017-10-05,970.00,981.510,969.640,980.85,3223573,0,963.681900,966.522287,2.840387
5127,2017-10-06,975.64,995.750,975.640,989.51,3779449,0,967.655454,968.225081,0.569627
5128,2017-10-09,993.24,998.500,987.500,990.99,2936290,0,971.245384,969.911371,-1.334013
5129,2017-10-10,996.67,997.950,980.099,987.20,3083184,0,973.699940,971.192010,-2.507930
5130,2017-10-11,991.27,995.500,986.695,995.00,2335171,0,976.976873,972.955565,-4.021308
5131,2017-10-12,996.81,1008.440,992.400,1000.93,4083590,0,980.661969,975.027745,-5.634224
5132,2017-10-13,1007.35,1007.770,1001.030,1002.94,2429486,0,984.089359,977.095320,-6.994039
5133,2017-10-16,1008.44,1009.570,1001.040,1006.34,2005410,0,987.512534,979.261592,-8.250942
5134,2017-10-17,1005.59,1011.470,1004.380,1009.13,2318835,0,990.838298,981.474067,-9.364231
5135,2017-10-18,1009.27,1022.310,996.550,997.00,2497400,0,991.786252,982.624136,-9.162116
5136,2017-10-19,990.00,991.050,980.240,986.61,3085640,0,990.989906,982.919385,-8.070520
5137,2017-10-20,993.53,994.620,982.000,982.91,2343748,0,989.746843,982.918690,-6.828153
5138,2017-10-23,986.73,986.730,962.500,966.30,3488072,0,986.139637,981.687676,-4.451961
5139,2017-10-24,969.00,979.850,965.000,975.90,2713570,0,984.564308,981.258959,-3.305349
5140,2017-10-25,978.00,984.440,966.240,972.91,3030196,0,982.771337,980.640518,-2.130820
5141,2017-10-26,980.33,982.900,968.550,972.43,5421431,0,981.180362,980.032331,-1.148031
5142,2017-10-27,1057.01,1105.580,1050.550,1100.95,16552598,0,999.606461,988.989196,-10.617265
5143,2017-10-30,1095.01,1122.790,1093.560,1110.85,6613064,0,1016.720851,998.015922,-18.704929
5144,2017-10-31,1109.00,1110.540,1101.120,1105.28,3476967,0,1030.345336,1005.961409,-24.383926
5145,2017-11-01,1105.40,1108.970,1096.740,1103.68,3755511,0,1041.627592,1013.199823,-28.427768
5146,2017-11-02,1097.81,1101.940,1086.870,1094.22,3684876,0,1049.718731,1019.201318,-30.517414
5147,2017-11-03,1091.15,1112.680,1088.520,1111.60,3751480,0,1059.238927,1026.045665,-33.193262
5148,2017-11-06,1109.15,1125.410,1108.770,1120.66,3331738,0,1068.688323,1033.054134,-35.634189
5149,2017-11-07,1124.74,1130.600,1117.500,1123.17,2684443,0,1077.070119,1039.729383,-37.340736
5150,2017-11-08,1122.82,1135.540,1119.110,1132.88,2576010,0,1085.656255,1046.629429,-39.026826
5151,2017-11-09,1125.96,1129.620,1115.770,1129.13,3729978,0,1092.344523,1052.740582,-39.603941
5152,2017-11-10,1126.10,1131.750,1124.060,1125.35,2179181,0,1097.422289,1058.119058,-39.303231